<template>
  <div>
    <MenuApp></MenuApp>
    <section class="section">
      <div class="notification is-danger" v-if="notifications">
        <button class="delete" @click="notifications = false"></button>
        <p> {{ label }} </p>
      </div>
      <div class="container" v-if="!print">
        <h1 class="title has-text-centered"> Adicionar Nova Ordem de Serviço </h1>
        <hr>
      </div>
      <form class="section" v-if="!print">
        <div class="columns">
          <div class="column is-6">
            <InputText
            label="Digite o nome do cliente"
            placeholder="Nome"
            @captureData="dates[0] = arguments[1]; datesValid[0] = arguments[0]"></InputText>
          </div>
          <div class="column is-6">
            <InputText
              label="Digite o endereço completo do cliente"
              placeholder="Endereço"
              @captureData="dates[1] = arguments[1]; datesValid[1] = arguments[0]"></InputText>
          </div>
        </div>
        <div class="columns">
          <div class="column is-6">
            <InputText
              label="Digite o fabricante do aparelho"
              placeholder="Por exemplo: Nokia, Sansung"
              @captureData="dates[2] = arguments[1]; datesValid[2] = arguments[0]"></InputText>
          </div>
          <div class="column is-6">
            <InputText
              label="Digite o modelo"
              placeholder="Por exemplo: caso o fabricante sansung, J7"
              @captureData="dates[3] = arguments[1]; datesValid[3] = arguments[0]"></InputText>
          </div>
        </div>
        <div class="columns">
          <div class="column is-6">
            <InputNumber
              label="Digite o CPF do cliente, só números"
              placeholder="CPF"
              padrao="00000000000"
              @captureData="dates[4] = arguments[1]; datesValid[4] = arguments[0]"></InputNumber>
          </div>
          <div class="column is-6">
            <InputNumber
              label="Digite o RG do cliente, só números"
              placeholder="RG"
              padrao="000000000"
              @captureData="dates[5] = arguments[1]; datesValid[5] = arguments[0]"></InputNumber>
          </div>
        </div>
        <div class="columns">
          <div class="column is-6">
            <InputDate label="Digite a data de entrada"
            @captureData="dates[6] = arguments[1]; datesValid[6] = arguments[0]"></InputDate>
          </div>
          <div class="column is-6">
            <InputDate label="Digite previsão para a data de devolução"
            @captureData="dates[7] = arguments[1]; datesValid[7] = arguments[0]"></InputDate>
          </div>
        </div>
        <div class="columns">
          <div class="column is-6">
            <InputText
              label="Digite o orçamento"
              placeholder="000,00"
              @captureData="dates[8] = arguments[1]; datesValid[8] = arguments[0]"></InputText>
          </div>
          <div class="column is-6">
            <InputTel
              label="Digite um telefone para contato"
              placeholder="987654321"
              @captureData="dates[9] = arguments[1]; datesValid[9] = arguments[0]"></InputTel>
          </div>
        </div>
        <InputTextArea
          label="Digite a(s) causa(s) do concerto"
          @captureData="dates[10] = arguments[1]; datesValid[10] = arguments[0]"></InputTextArea>
        <InputTextArea
          label="Informações Adicionais"
          padrao="Não possui dados adicionais"
          @captureData="dates[11] = arguments[1]; datesValid[11] = arguments[0]"></InputTextArea>
      </form>
      <section class="section" v-if="!print">
        <div class="columns">
          <div class="column is-6" @click="confirm">
            <button class="button is-success is-fullwidth is-medium"> Cadastrar </button>
          </div>
          <div class="column is-6" @click="cancel">
            <button class="button is-danger is-fullwidth is-medium"> Cancelar </button>
          </div>
        </div>
      </section>
      <Print :dados="dados" v-if="print" @return="print = !print"></Print>
    </section>
  </div>
</template>

<script>
import { addService, returnIds } from '../pouchdb'
import MenuApp from './Menu'
import InputText from './components/InputText'
import InputTel from './components/InputTel'
import InputNumber from './components/InputNumber'
import InputDate from './components/InputDate'
import InputTextArea from './components/InputTextArea'
import Print from './components/Print'

export default {
  name: 'add-ordem',
  components: { MenuApp, InputText, InputTel, InputNumber, InputDate, InputTextArea, Print },
  data () {
    return {
      dates: [],
      datesValid: [false, false, false, false, false, false, false, false, false, false, false, false],
      notifications: false,
      label: '',
      dados: {},
      print: false
    }
  },
  methods: {
    confirm () {
      const valid = this.datesValid.every(item => item)
      if (valid) {
        const self = this
        returnIds().then(function (data) {
          let id
          if (data.length === 0) {
            id = 0
          } else if (data.length === 1) {
            id = 1
          } else {
            const i = data.length - 1
            id = i + 1
          }
          const dados = {
            _id: `${id}`,
            Nome: self.dates[0],
            Endereco: self.dates[1],
            Celular: `${self.dates[2]} ${self.dates[3]}`,
            CPF: self.dates[4],
            RG: self.dates[5],
            Entrada: self.dates[6],
            Previsao: self.dates[7],
            Orcamento: self.dates[8],
            Telefone: self.dates[9],
            Defeito: self.dates[10],
            Adicionais: self.dates[11],
            State: 'open'
          }

          addService(dados).then(data => {
            if (data.ok) {
              self.notifications = false
              self.print = true
              self.dados = dados
            } else {
              self.notifications = true
              self.print = false
              self.label = 'Os dados não foram inseridos'
            }
          })
        })
      } else {
        this.notifications = true
        this.print = false
        this.label = 'Os dados não estão incorretos'
      }
    },
    cancel () {
      const confirm = window.confirm('Deseja sair?')
      if (confirm) {
        this.$router.push('/')
      }
    }
  }
}
</script>
