<template>
  <div>
    <MenuApp></MenuApp>
    <section class="section">
      <div class="container">
        <h1 class="title has-text-centered"> Finalizar Ordem de Serviço </h1>
        <hr>
      </div>
      <Search
        v-if="search"
        @returnValue="pesquisar"></Search>
      <ResultName
        v-if="resultname"
        :objects="results"
        @selectedName="selectedName"></ResultName>
      <CardService
        v-if="cardservice"
        :dados="results"
        @selected="selected"></CardService>
        <div
          class="notification"
          :class="Class"
          v-if="notifications">
          <button
            class="delete"
            @click="reload"></button>
          <p class="subtitle is-5"> {{ label }} </p>
        </div>
      </section>
  </div>
</template>

<script>
import { searchService, closeService } from '../pouchdb'
import MenuApp from './Menu'
import Search from './components/Search'
import CardService from './components/CardService'
import ResultName from './components/ResultName'

export default {
  name: 'closeService',
  components: { MenuApp, Search, CardService, ResultName },
  data () {
    return {
      search: true,
      resultname: false,
      cardservice: false,
      notifications: false,
      label: '',
      Class: '',
      results: []
    }
  },
  methods: {
    pesquisar () {
      this.search = false
      if (arguments[1] === 'cliente') {
        this.resultname = true
        this.cardservice = false
      } else {
        this.resultname = false
        this.cardservice = true
      }
      let value
      const filter = arguments[1]
      if (filter === 'cliente') value = arguments[0].toUpperCase()
      else value = `${arguments[0]}`
      searchService(value, filter).then(data => {
        if (data.length === 0) {
          this.resultname = false
          this.notifications = true
          this.label = 'A pesquisa não retornou nenhum resultado'
          this.Class = 'is-danger'
        } else if (data.error) {
          this.cardservice = false
          this.notifications = true
          this.label = 'A pesquisa não retornou nenhum resultado'
          this.Class = 'is-danger'
        } else {
          this.results = data
        }
      })
    },
    selected () {
      this.search = false
      this.resultname = false
      this.cardservice = false
      const id = arguments[1]
      const entrega = arguments[2]
      const motivo = arguments[3]
      let concertado
      if (arguments[0]) concertado = true
      else concertado = false
      closeService(id, entrega, motivo, concertado).then(data => {
        if (data.ok) {
          this.notifications = true
          this.Class = 'is-success'
          this.label = 'Ordem de serviço fechado com sucesso'
        } else {
          this.notifications = true
          this.Class = 'is-danger'
          this.label = 'Ordem de serviço não foi fechado com sucesso'
        }
      })
    },
    selectedName () {
      this.resultname = false
      this.cardservice = true
      this.results = arguments[0]
    },
    reload () { window.location.reload() }
  }
}
</script>

<style scoped>
  @media print {
    .container .title {
      display: none;
    }
  }
</style>
