<template>
  <div>
    <MenuApp></MenuApp>

    <header class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title"> Registro de Ordem de Serviços Maspe </h1>
          <h2 class="subtitle"> Escolha a opção do sistema abaixo ou o menu acima </h2>
        </div>
      </div>
    </header>

    <section class="section">
      <div class="columns">
        <div class="column is-4">
          <router-link to="/add">
            <button class="button is-success is-fullwidth is-medium"> Nova Ordem de Serviço </button>
          </router-link>
        </div>
        <div class="column is-4">
          <router-link to="/close-service">
            <button class="button is-warning is-fullwidth is-medium"> Finalizar Ordem de Serviço </button>
          </router-link>
        </div>
        <div class="column is-4">
          <router-link to="/backup-service">
            <button class="button is-info is-fullwidth is-medium"> Fazer um backup dos dados </button>
          </router-link>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import MenuApp from './Menu'

export default {
  name: 'Home',
  components: { MenuApp }
}
</script>

<style scoped>
  .button.is-info {
    margin: 0;
  }
</style>
