<template>
  <nav class="nav">
    <div class="nav-left">
      <router-link to="/" class="nav-item">
        <h1> MASPE - HOME </h1>
      </router-link>
    </div>

    <span class="nav-toggle" :class="{ 'is-active' : active }" @click="active = !active">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-right nav-menu" :class="{ 'is-active' : active }">
      <router-link to="/add" class="nav-item">
        <p> Nova Ordem de Serviço </p>
      </router-link>
      <router-link to="/close-service" class="nav-item">
        <p> Finalizar Ordem de Serviço </p>
      </router-link>
      <router-link to="/backup-service" class="nav-item">
        <p> Fazer backup dos dados </p>
      </router-link>
    </div>
  </nav>
</template>

<script>
export default {
  data () {
    return {
      active: false
    }
  }
}
</script>

<style media="screen">
  .nav {
    padding: 1em;
  }

  @media print {
    .nav {
      display: none;
    }
  }
</style>
