<template>
  <div class="content">
    <div class="columns is-centered">
      <div class="column is-6">
        <div class="card">
          <div class="card-header">
            <h1 class="card-header-title notPrint"> {{ results.Nome }} </h1>
            <h1 class="card-header-title print"> Nota de devoluçao de aparelho para {{ results.Nome }} </h1>
          </div>
          <div class="card-content">
            <div class="content">
              <ul>
                <li v-for="(value, key) in results"> {{ key }} - {{ value }} </li>
              </ul>
            </div>
          </div>
          <footer class="card-footer">
            <button
              class="button is-fullwidth is-danger"
              :disabled="closeOrNot"
              @click="modal = !modal"> Fechar </button>
            <button
              class="button is-fullwidth is-success"
              @click="print"> Imprimir Nota </button>
          </footer>
        </div>
      </div>
    </div>

    <div class="modal" :class="{ 'is-active' : modal }">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <label class="label"> O concerto foi realizado? </label>
          <p class="control">
            <input type="radio" class="radio" :value="0" v-model="esc"> Sim
            <input type="radio" class="radio" :value="1" v-model="esc"> Não
          </p>

          <label class="label"> Data de entrega do aparelho: </label>
          <p class="control">
            <input type="date" class="input is-medium">
          </p>

          <div class="content" v-if="notConcert">
            <label class="label"> Por quê não foi concertado? </label>
            <p class="control">
              <textarea class="textarea" v-model="motivo"></textarea>
            </p>
          </div>

          <button class="button is-medium is-success" @click="closeService"> Confirmar Fechamento </button>
          <button class="button is-medium is-danger" @click="modal = !modal"> Cancelar </button>
        </div>
      </div>
      <button class="modal-close" @click="modal = !modal"></button>
    </div>
    <p class="print"> Assinatura do Cliente: </p>
    <button class="button is-info" @click="reload"> Voltar a pesquisa </button>
  </div>
</template>

<script>
export default {
  props: ['dados'],
  data () {
    return {
      esc: 0,
      notConcert: false,
      motivo: '',
      modal: false
    }
  },
  computed: {
    results () {
      const entrada = new Date(this.dados.Entrada)
      const saida = new Date(this.dados.Previsao)
      const Estado = (this.dados.State === 'open') ? 'Aberto' : 'Fechado'
      const Concertado = (this.dados.Concertado) ? 'Sim' : 'Não'
      let Motivo
      if (this.dados.Motivo === undefined) {
        Motivo = 'O aparelho ainda não foi concertado'
      } else {
        Motivo = (this.dados.Motivo !== '') ? this.dados.Motivo : 'O aparelho foi entregue concertado'
      }
      return {
        Ordem: this.dados._id,
        Nome: this.dados.Nome,
        Celular: this.dados.Celular,
        Entrada: `${entrada.getDate()} / ${entrada.getMonth() + 1} / ${entrada.getFullYear()}`,
        Previsao: `${saida.getDate()} / ${saida.getMonth() + 1} / ${saida.getFullYear()}`,
        Orcamento: `R$ ${this.dados.Orcamento}`,
        Defeito: this.dados.Defeito,
        Adicionais: this.dados.Adicionais,
        Concertado,
        Motivo,
        Estado
      }
    },
    closeOrNot () {
      if (this.dados.State === 'open') return false
      return true
    }
  },
  watch: {
    esc () {
      if (this.esc === 0) {
        this.notConcert = false
      } else {
        this.notConcert = true
      }
    }
  },
  methods: {
    print () {
      window.print()
    },
    reload () {
      window.location.reload()
    },
    closeService () {
      if (this.esc === 0) {
        this.$emit('selected', true, this.dados._id, this.entrega, '')
      } else {
        this.$emit('selected', false, this.dados._id, this.entrega, this.motivo)
      }
    }
  }
}
</script>

<style scoped>
  .card-footer .button, .button.is-info { margin: .2em; }

  .print {
    display: none;
  }

  @media print {
    .button.is-info,
    nav.nav,
    .card-footer,
    .notPrint {
      display: none;
    }

    .card {
      width: 100%;
      border: none;
      box-shadow: none;
      position: absolute;
      top: 0;
      left: 0;
    }

    .card-header-title.print {
      font-size: 24px;
    }

    .print {
      display: block;
    }
  }
</style>
