<template>
  <p class="control">
    <label class="label"> {{ label }} </label>
    <input type="number" class="input is-medium" :placeholder="placeholder" v-model="dado">
  </p>
</template>

<script>
export default {
  props: ['label', 'placeholder'],
  data () {
    return { dado: '' }
  },
  watch: {
    dado () {
      const number = `${this.dado}`
      if (number.length > 7 || number.length <= 9) {
        this.$emit('captureData', true, this.dado)
      } else {
        this.$emit('captureData', false)
      }
    }
  }
}
</script>
