<template>
  <p class="control">
    <label class="label"> {{ label }} </label>
    <textarea
      type="textarea"
      class="textarea"
      :placeholder="placeholder"
      v-model="dado"
      @input="emitValue"></textarea>
  </p>
</template>

<script>
export default {
  props: ['label', 'placeholder', 'padrao'],
  computed: {
    dado () {
      if (this.padrao !== undefined) {
        const value = 'NÃO POSSUI DADOS ADICIONAIS'
        this.$emit('captureData', true, 'NÃO POSSUI DADOS ADICIONAIS')
        return value
      }
    }
  },
  methods: {
    emitValue () {
      const value = arguments[0].target.value
      if (value !== '') {
        this.$emit('captureData', true, value.trim().toUpperCase())
      } else {
        this.$emit('captureData', false)
      }
    }
  }
}
</script>
