<template>
  <p class="control">
    <label class="label"> {{ label }} </label>
    <input type="text" class="input is-medium" :placeholder="placeholder" v-model="dado">
  </p>
</template>

<script>
export default {
  props: ['label', 'placeholder'],
  data () {
    return { dado: '' }
  },
  watch: {
    dado () {
      if (this.dado !== '') {
        this.$emit('captureData', true, this.dado.trim().toUpperCase())
      } else {
        this.$emit('captureData', false)
      }
    }
  }
}
</script>
