<template>
  <p class="control">
    <label class="label"> {{ label }} </label>
    <input
      type="number"
      class="input is-medium"
      :placeholder="placeholder"
      :value="padrao"
      v-model="dado"
      @input="emitValue">
  </p>
</template>

<script>
export default {
  props: ['label', 'placeholder', 'padrao'],
  computed: {
    dado () {
      if (this.padrao !== undefined) {
        const value = '00000000000'
        this.$emit('captureData', true, '00000000000')
        return value
      }
    }
  },
  methods: {
    emitValue () {
      const value = arguments[0].target.value
      if (value !== '') {
        this.$emit('captureData', true, value.trim().toUpperCase())
      } else {
        this.$emit('captureData', false)
      }
    }
  }
}
</script>
