<template>
  <section class="section">
    <div class="content">
      <h1> Dados da Ordem de Serviço - MASPE </h1>
      <ul>
        <li v-for="(value, key) in results"> {{ key }} - {{ value }} </li>
      </ul>
      <p class="print"> OBS: Para a retirada do aparelho é necessária a apresentação da presente nota ou documento de identificação do responsável pelo aparelho. </p>
      <p class="print"> OBS2: Em caso de serviço de desbloqueio (reset) se apagará todos os dados contidos no aparelho. </p>
      <button class="button is-medium is-info" @click="print"> Imprimir </button>
      <button class="button is-medium is-info" @click="retornar"> Voltar </button>
    </div>
  </section>
</template>

<script>
export default {
  props: ['dados'],
  computed: {
    results () {
      const entrada = new Date(this.dados.Entrada)
      const saida = new Date(this.dados.Previsao)
      return {
        Ordem: this.dados._id,
        Nome: this.dados.Nome,
        Celular: this.dados.Celular,
        Entrada: `${entrada.getDate()} / ${entrada.getMonth() + 1} / ${entrada.getFullYear()}`,
        Previsao: `${saida.getDate()} / ${saida.getMonth() + 1} / ${saida.getFullYear()}`,
        Orcamento: `R$ ${this.dados.Orcamento}`,
        Defeito: this.dados.Defeito,
        Adicionais: this.dados.Adicionais
      }
    }
  },
  methods: {
    print () {
      window.print()
    },
    retornar () {
      this.$emit('return')
    }
  }
}
</script>

<style scoped>
  .button.is-info {
    margin: .5em;
  }

  .print {
    display: none;
  }

  @media print {
    .button.is-info,
    nav.nav {
      display: none;
    }

    .print {
      display: block;
    }

    div.content {
      position: absolute;
      top: 1em;
    }
  }
</style>
