<template>
  <div class="section">
    <div class="columns">
      <div class="column is-3">
        <p class="control">
          <label class="label"> Mostrar todos os resultados </label>
          <input type="radio" class="radio" v-model="value" :value="1">
        </p>
      </div>
      <div class="column is-3">
        <p class="control">
          <label class="label"> Mostrar os resultados abertos </label>
          <input type="radio" class="radio" v-model="value" :value="2">
        </p>
      </div>
    </div>
    <table class="table">
      <tr>
        <th> Ordem </th>
        <th> Nome </th>
        <th> Celular </th>
        <th> Orçamento </th>
        <th> Estado </th>
        <th></th>
      </tr>
      <tr v-for="obj in results">
        <td v-for="value in obj"> {{ value }} </td>
        <td>
          <p class="control">
            <input type="radio" class="radio" :value="obj" v-model="selected">
          </p>
        </td>
      </tr>
    </table>

    <button
      class="button is-info"
      @click="reload"> Voltar aos filtros </button>
  </div>
</template>

<script>
export default {
  props: ['objects'],
  data () {
    return {
      selected: {},
      value: 1
    }
  },
  computed: {
    results () {
      if (this.value === 1) {
        return this.objects.map(item => Object.assign({}, {
          _id: item._id,
          name: item.Nome,
          celular: item.Celular,
          orcamento: item.Orcamento,
          state: item.State
        }))
      } else {
        const value = this.objects.filter(item => item.State === 'open')
        return value.map(item => Object.assign({}, {
          _id: item._id,
          name: item.Nome,
          celular: item.Celular,
          orcamento: item.Orcamento,
          state: item.State
        }))
      }
    }
  },
  watch: {
    selected () {
      const selected = this.objects.filter(item => item._id === this.selected._id)
      this.$emit('selectedName', selected[0])
    }
  },
  methods: {
    reload () { window.location.reload() }
  }
}
</script>

<style>
.control input.radio {
  -webkit-appearance: none;
  background: #FFF;
  border: 4px solid rgb(6, 207, 176);
  border-radius: 100%;
  padding: .6em;
  outline: none;
  transition: .3s;
}

.control input.radio:checked {
  background: #06cfb0;
  border: 4px solid #06cfb0;
}

.radio:checked:after {
  content: "✔";
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 1.4em;
  color: #000;
}
</style>
