<template>
  <div>
    <label class="label"> {{ label }} </label>
    <p class="control has-addons">
      <input
        type="text"
        v-if="type === 'text'"
        v-model="value"
        :placeholder="placeholder"
        class="input is-expanded is-medium">
      <input
        type="number"
        v-if="type === 'number'"
        v-model="value"
        :placeholder="placeholder"
        class="input is-expanded is-medium">
      <button class="button is-success is-medium" @click="search"> Pesquisar </button>
    </p>
    <button type="button" class="button is-info" @click="back"> Voltar aos filtros </button>
  </div>
</template>

<script>
import SearchField from './SearchField'

export default {
  props: ['field'],
  components: { SearchField },
  data () {
    return {
      value: ''
    }
  },
  computed: {
    type () {
      if (this.field === 'cliente') return 'text'
      return 'number'
    },
    placeholder () {
      if (this.field === 'cliente') return 'Nome do cliente'
      return 'Número da ordem de serviço'
    },
    label () {
      if (this.field === 'cliente') return 'Digite o nome do cliente para pesquisa'
      return 'Digite o número da ordem de serviço para pesquisa'
    }
  },
  methods: {
    search () {
      if (this.value !== '') {
        this.$emit('retorno', this.value)
      }
    },
    back () {
      this.$emit('backFilters')
    }
  }
}
</script>
