<template>
  <section class="section">
    <h2 class="subtitle is-4 has-text-centered"> Pesquisar por: </h2>

    <div class="columns" v-if="filters">
      <div class="column is-6">
        <button
          type="button"
          class="button is-info is-medium is-fullwidth"
          @click="currentSearch = 'cliente'; showSearch = true; filters = false"> Nome do cliente </button>
      </div>
      <div class="column is-6">
        <button
          type="button"
          class="button is-info is-medium is-fullwidth"
          @click="currentSearch = 'ordem'; showSearch = true; filters = false"> Ordem de Serviço </button>
      </div>
    </div>

    <SearchField
      :field="currentSearch"
      @backFilters="showSearch = false; filters = true"
      @retorno="retornoDeData"
      v-if="showSearch"></SearchField>
  </section>
</template>

<script>
import SearchField from './SearchField'

export default {
  components: { SearchField },
  data () {
    return {
      showSearch: false,
      filters: true
    }
  },
  methods: {
    retornoDeData () {
      const value = arguments[0]
      this.$emit('returnValue', value, this.currentSearch)
    }
  }
}
</script>

<style scoped>
  .button.is-info {
    margin: 0;
  }
</style>
